In [1]:
import keras 
import tensorflow as tf 
from keras.models import *
from keras.layers import * 
import keras.backend as K 

%load_ext autoreload
%autoreload 2

Using TensorFlow backend.

In [2]:
from scripts.data_utils import *
from scripts.nn_resnet import *
from scripts.config import config 
from scripts.general_utils import* 
from scripts.assessment import *
from scripts.maths import *
import matplotlib.pyplot as plt 

fname = 'update_new_columns_trains_sets.csv'

In [46]:
# model = resnet(3, (400, 1))
model = load_model("C:/Users/User/Desktop/temp_400bins_2.h5")

In [48]:
set_lr(model, 1e-4)

2.4499997e-05

In [ ]:
def train():

    batch_size = 1024 * 16
    for i in range(5):
        if i > 0:
            decay_lr(model, 0.7)
        print("#"*30)
        print('iteration: {}'.format(i))
        df = pd.read_csv(fname, iterator=True, low_memory=False)
        count = 0
        while 1:
            try:
                cur = df.get_chunk(batch_size)
                train_x, train_y = trim_df(cur)
                print("*" * 30)
                print("iteration: {}, count: {}".format(i, count + 1))
                count += 1
                model.fit(train_x, train_y, epochs=5)
                print("*" * 30)
            except StopIteration:
                break  
#         model.save("C:/Users/User/Desktop/temp_400bins_{}.h5".format(i))
        
train()

##############################
iteration: 0
******************************
iteration: 0, count: 1
Epoch 1/5
16383/16383 [==============================] - 59s 4ms/step - loss: 0.0373 - acc: 0.9910
Epoch 2/5
16383/16383 [==============================] - 51s 3ms/step - loss: 0.0200 - acc: 0.9960
Epoch 3/5
16383/16383 [==============================] - 51s 3ms/step - loss: 0.0146 - acc: 0.9986
Epoch 4/5
16383/16383 [==============================] - 50s 3ms/step - loss: 0.0123 - acc: 0.9996
Epoch 5/5
16383/16383 [==============================] - 50s 3ms/step - loss: 0.0108 - acc: 0.9999
******************************
******************************
iteration: 0, count: 2
Epoch 1/5
16382/16382 [==============================] - 50s 3ms/step - loss: 0.0378 - acc: 0.9904
Epoch 2/5
16382/16382 [==============================] - 51s 3ms/step - loss: 0.0191 - acc: 0.9966
Epoch 3/5
16382/16382 [==============================] - 50s 3ms/step - loss: 0.0148 - acc: 0.9980
Epoch 4/5
 9344/16382 [================>.............] - ETA: 21s - loss: 0.0112 - acc: 0.9996

In [18]:
model.save('C:/Users/User/Desktop/temp.h5')

In [11]:
# model = load_model("C:/Users/User/Desktop/resNet.h5")

W0214 19:27:09.203066 16168 deprecation.py:323] From c:\users\user\appdata\local\programs\python\python36\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [9]:
val_name = "C:/Users/User/Desktop/go_download/val_sets_v1.csv"

In [10]:
val_df = pd.read_csv(val_name)

In [11]:
val_y_name = "C:/Users/User/Desktop/go_download/val_labels_v1.csv"
val_df_y = pd.read_csv(val_y_name)
val_df_x = val_df

In [12]:
vx = val_df_x
vy = val_df_y

In [13]:
vx = vx.iloc[:, :-1].values

In [14]:
vy = vy['label'].values
vy = encode_names(vy)

In [15]:
vx = vx[:, 100:-50]

################
vx = remove_sharp(vx)
# vx = change_zero_to_mean(vx)
#################


vx = average_bin_faster(vx, 400)
vx = vx.reshape(*vx.shape, 1)

In [43]:
model = load_model("C:/Users/User/Desktop/temp_400bins_3.h5")
print("finished loading")
v_pred = model.predict(vx)

finished loading

In [44]:
get_precision(vy, v_pred)

0.9916012674164848

In [45]:
f1(vy, v_pred)

0.968516344172965

In [17]:
model.save("C:/Users/User/Desktop/resNet.h5", overwrite=True)

In [277]:
# for submission

In [22]:
v_pred_cls = np.argmax(v_pred, axis=1)

In [23]:
val_df_y['pred_cls'] = v_pred_cls

In [24]:
len(val_df_y)

190624

In [25]:
def cls_to_name(cls):
    if cls == 0:
        return 'star'
    if cls == 1:
        return 'galaxy'
    return 'qso'

In [26]:
val_df_y['pred_cls'] = val_df_y['pred_cls'].apply(cls_to_name)

In [27]:
len(val_df_y[val_df_y['label']!=val_df_y['pred_cls']])

1379

In [28]:
diff = val_df_y[val_df_y['pred_cls'] != val_df_y['label']]
same = val_df_y[val_df_y['pred_cls'] == val_df_y['label']]
len(diff), len(same)

(1379, 189245)

In [29]:
val_df['pred'] = val_df_y['pred_cls']
val_df['label'] = val_df_y['label']

In [30]:
diff_spectrum = val_df.loc[val_df['id'].isin(diff['id'])]
same_spectrum = val_df.loc[val_df['id'].isin(same['id'])]

diff_spectrum = diff_spectrum.drop('id', axis=1)
same_spectrum = same_spectrum.drop('id', axis=1)

In [31]:
len(diff_spectrum), len(same_spectrum)

(1379, 189245)

In [35]:
same_spectrum_star = same_spectrum[same_spectrum['label']=='star']
same_spectrum_gal = same_spectrum[same_spectrum['label']=='galaxy']
same_spectrum_qso = same_spectrum[same_spectrum['label']=='qso']

In [40]:
res = pd.concat([same_spectrum_star.iloc[:100,:], same_spectrum_gal.iloc[:100,:], 
                 same_spectrum_qso.iloc[:100,:]])

In [59]:
diff_spectrum.to_csv("C:/Users/User/Desktop/temp/predict_wrong_spectral.csv", index=False)

In [47]:
res.to_csv("C:/Users/User/Desktop/temp/predict_right_spectral.csv", index=False)

In [58]:
diff_spectrum.head()

,FE0,FE1,FE2,FE3,FE4,FE5,FE6,FE7,FE8,FE9,...,FE2592,FE2593,FE2594,FE2595,FE2596,FE2597,FE2598,FE2599,pred,label
399,20.539032,-11.496449,20.704480,10.320412,24.132203,-5.339583,18.627630,3.959894,64.945979,9.173379,...,37.511490,34.740448,39.744783,43.466447,36.557037,29.749146,29.873103,28.686555,star,galaxy
515,4.080163,5.964849,11.200888,-9.123729,-16.047049,-2.116285,11.063445,0.660645,10.570564,16.589804,...,5.467748,6.397606,6.230656,6.257501,5.404189,4.980243,5.226400,5.350140,star,galaxy
585,-279.087973,-47.678342,-5.105812,198.935923,-151.138377,-36.066876,109.816511,69.809897,91.818532,-236.827852,...,174.588257,120.880636,87.382189,167.457078,185.419524,139.296300,121.636615,100.354468,star,galaxy
743,2.146430,2.414457,3.285812,0.763399,1.679500,2.431333,-0.577207,2.332459,0.348145,2.006564,...,9.447075,9.702508,9.957942,10.213376,10.468810,10.724243,10.979677,11.235111,qso,galaxy
824,72.963981,51.649080,56.697270,74.403605,48.042003,87.167193,85.622775,0.637782,106.732244,-21.642268,...,59.193337,55.195674,52.769990,53.114714,53.977462,54.031909,53.538296,56.745403,star,galaxy

In [77]:
val_df_y['label'] = val_df_y['pred_cls']

In [78]:
val_df_y = val_df_y[['id','label']]

190624

In [79]:
val_df_y.to_csv("C:/Users/User/Desktop/go_download/submit_3 .csv", index=False)