In [1]:
import keras 
import tensorflow as tf 
from keras.models import *
from keras.layers import * 
import keras.backend as K 

%load_ext autoreload
%autoreload 2

Using TensorFlow backend.

In [7]:
from scripts.data_utils import *
from scripts.nn_resnet import *
from scripts.config import config 
from scripts.general_utils import* 
from scripts.assessment import *
from scripts.maths import *
import matplotlib.pyplot as plt 

fname = 'update_new_columns_trains_sets.csv'

In [3]:
# model = resnet(3, (300, 1))
model = load_model("C:/Users/User/Desktop/resNet.h5")

WARNING: Logging before flag parsing goes to stderr.
W0214 02:05:15.942724 12064 deprecation_wrapper.py:119] From C:\Users\User\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0214 02:05:16.017518 12064 deprecation_wrapper.py:119] From C:\Users\User\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:4185: The name tf.truncated_normal is deprecated. Please use tf.random.truncated_normal instead.

W0214 02:05:16.116274 12064 deprecation_wrapper.py:119] From C:\Users\User\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:131: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0214 02:05:16.116274 12064 deprecation_wrapper.py:119] From C:\Users\User\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0214 02:05:16.167464 12064 deprecation_wrapper.py:119] From C:\Users\User\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:3976: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

W0214 02:05:19.127260 12064 deprecation_wrapper.py:119] From C:\Users\User\AppData\Roaming\Python\Python36\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0214 02:05:24.918063 12064 deprecation_wrapper.py:119] From C:\Users\User\AppData\Roaming\Python\Python36\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0214 02:05:25.368228 12064 deprecation.py:323] From c:\users\user\appdata\local\programs\python\python36\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [18]:
set_lr(model, 0.9e-4)

In [ ]:
def train():

    batch_size = 1024 * 16
    for i in range(10):
        if i > 0:
            decay_lr(model)
        if i == 5:
            model.save("C:/Users/User/Desktop/resNet_temp.h5", overwrite=True)
        print("#"*30)
        print('iteration: {}'.format(i))
        df = pd.read_csv(fname, iterator=True)
        count = 0
        while 1:
            try:
                cur = df.get_chunk(batch_size)
                train_x, train_y = trim_df(cur)
                print("*" * 30)
                print("iteration: {}, count: {}".format(i, count + 1))
                count += 1
                model.fit(train_x, train_y, epochs=15)
                print("*" * 30)
            except StopIteration:
                break  
                
train()

##############################
iteration: 0
******************************
iteration: 0, count: 1
Epoch 1/15
16383/16383 [==============================] - 32s 2ms/step - loss: 0.0170 - acc: 0.9960
Epoch 2/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0147 - acc: 0.9971
Epoch 3/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0134 - acc: 0.9974
Epoch 4/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0119 - acc: 0.9977
Epoch 5/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0108 - acc: 0.9982
Epoch 6/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0100 - acc: 0.9986
Epoch 7/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0089 - acc: 0.9988
Epoch 8/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0083 - acc: 0.9988
Epoch 9/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0076 - acc: 0.9995
Epoch 10/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0073 - acc: 0.9993
Epoch 11/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0068 - acc: 0.9995
Epoch 12/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0063 - acc: 0.9998: 1s - loss:
Epoch 13/15
16383/16383 [==============================] - 31s 2ms/step - loss: 0.0063 - acc: 0.9996: 0s - loss: 0.0063
Epoch 14/15
14144/16383 [========================>.....] - ETA: 4s - loss: 0.0056 - acc: 1.0000

In [130]:
df = getIthBatch(fname, 0, 1000, split_train_test=0)

In [138]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601
0,41.167630,128.404863,113.342102,96.332659,155.429838,103.355702,137.708264,37.861562,39.673803,50.543431,...,155.748438,164.905856,152.331062,141.852236,135.080094,133.500859,154.136530,171.568474,star,7dad7234f998192fdbd8183952ef20c8
1,-346.646602,-171.032817,186.992031,-716.384903,254.621417,732.285840,92.950140,871.351690,-55.170295,-184.566823,...,483.402540,521.284520,542.210809,488.168831,495.515646,519.919761,528.461916,509.382020,star,e7813ce88966dd145ca4a604eb66ad96
2,2387.394914,2962.318974,3514.910243,3643.305956,3423.303276,3647.917856,3908.737325,3387.910634,2762.518797,2953.116359,...,5165.653546,5118.992689,4951.877510,4634.349520,4406.328902,4472.693075,4795.940878,5121.840348,star,045175f20fb74d88354cd3aa56620542
3,80.562754,59.513893,69.655255,71.265120,141.805016,48.109098,139.253948,68.265771,90.808146,112.768287,...,48.698369,46.498682,46.400705,43.561856,27.760035,18.326394,25.614916,33.622985,star,2c9879d370ef4d080fde817d87bc2c30
4,117.760337,20.949811,57.370654,95.891313,104.290857,143.640962,69.819133,78.375157,80.904606,144.822199,...,55.154461,53.332641,49.130921,45.127950,40.212215,42.787378,49.548343,56.441171,star,a1bc6a343ad39d7a8c75a2ae59771eb1

In [8]:
val_name = "C:/Users/User/Desktop/go_download/val_sets_v1.csv"

In [9]:
val_df = pd.read_csv(val_name)

In [10]:
val_y_name = "C:/Users/User/Desktop/go_download/val_labels_v1.csv"
val_df_y = pd.read_csv(val_y_name)
val_df_x = val_df

In [11]:
vx = val_df_x
vy = val_df_y

In [12]:
vx = vx.iloc[:, :-1].values

In [13]:
vy = vy['label'].values
vy = encode_names(vy)

In [14]:
# vx = np.array([average_bin(np.arange(2600), vxi, num_bins=300) for vxi in vx])

vx = average_bin_faster(vx, 300)
vx = vx.reshape(*vx.shape, 1)

In [25]:
v_pred = model.predict(vx)

In [26]:
get_precision(vy, v_pred)

0.9925507805942588

In [27]:
f1(vy, v_pred)

0.9709509302401842

In [327]:
model.save("C:/Users/User/Desktop/resNet.h5", overwrite=True)

In [277]:
# for submission

In [317]:
v_pred_cls = np.argmax(v_pred, axis=1)

In [329]:
val_df_y['pred_cls'] = v_pred_cls

In [330]:
val_df_y.head()

                                 id label  pred_cls
0  722747696473587cba8c0395af83a6b8  star         0
1  52792845f89c6fab5ee96c59668db207  star         0
2  e896a27eedd00e4fce4c3568376e2d7c  star         0
3  6b7dcfc98038ba6040c3009e18ab6978  star         0
4  b8cb7ac768edd4135ad5befffc578a90  star         0

In [287]:
def cls_to_name(cls):
    if cls == 0:
        return 'star'
    if cls == 1:
        return 'galaxy'
    return 'qso'

In [331]:
val_df_y['pred_cls'] = val_df_y['pred_cls'].apply(cls_to_name )

In [344]:
diff = val_df_y[val_df_y['pred_cls'] != val_df_y['label']]
len(diff)

1644

In [342]:
diff_spectrum = val_df.loc[val_df['id'].isin(diff['id'])]

In [346]:
diff_spectrum.to_csv("C:/Users/User/Desktop/temp/predict_wrong_spectral.csv")

In [323]:
val_df_y['label'] = val_df_y['pred_cls']

In [325]:
val_df_y = val_df_y[['id','label']]

In [326]:
val_df_y.to_csv("C:/Users/User/Desktop/go_download/submit_2 .csv", index=False)